html {
  background-color: papayawhip;
}
body {
  min-height: 100vh;
  max-width: 640px;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  width: 430px;
  background-color: #1e1f26;
  padding: 8px;
  border-radius: 10px;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.display {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  font-family: monospace, Helvetica, Arial, sans-serif;
  width: 100%;
}

.display {
  border: 3px solid #1e1f26;
  width: 100%;
  background-color: #d0e1f9;
  justify-content: end;
  font-size: 60px;
  padding-right: 15px;
  border-radius: 8px;
  overflow: hidden;
}

button {
  font-family: monospace, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 30px;
  border-radius: 10px;
  border: 3px solid #1e1f26;
}

button.number:active,
button.plusminus:active,
button.decimal:active {
  background-color: #7e8699;
}

button.operator:active,
button.equals:active,
button.backspace:active,
button.clear:active,
button.percent:active {
  background-color: #d0e1f9;
  color: #4d648d;
}
.number,
.plusminus,
.decimal {
  background-color: #283655;
  color: #d0e1f9;
}

.operator,
.equals,
.clear,
.backspace,
.percent {
  background-color: #4d648d;
  color: #d0e1f9;
}

/* Colour scheme monochramatic blues/purples
#1E1F26
#283655
#4D648D
#D0E1F9
*/

/* add a push down effect */
